<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Értékelések</title>
    <meta charset="UTF-8">
    <meta name="description" content="Szállás kereső-hirdető oldal"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/menubar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style-ertekeles.css}"/>
</head>
<body>
<div th:if="${berlo}" class="topnav">
    <a id="title" href="/">Szállás Neked</a>
    <a href="/">Kezdőlap</a>
    <a href="/foglalasaim">Foglalásaim</a>
    <a href="/profil">Profil szerkesztése</a>
    <a href="/kilepes">Kilépés</a>
</div>

<div th:if="${kiado}" class="topnav">
    <a id="title_2" href="/">Szállás Neked</a>
    <a href="/">Kezdőlap</a>
    <a href="/hirdeteseim">Saját szállásaim</a>
    <a href="/profil">Profil szerkesztése</a>
    <a href="/kilepes">Kilépés</a>
</div>

<div th:if="${admin}" class="topnav">
    <a id="title_3" href="/">Szállás Neked</a>
    <a href="/">Kezdőlap</a>
    <a href="/users" >Felhasználók</a>
    <a href="/szallasok_admin" >Szállások</a>
    <a href="/ertekelesek_admin" >Értékelések</a>
    <a href="/profil">Profil szerkesztése</a>
    <a href="/kilepes">Kilépés</a>
</div>
<div th:if="${ures}" class="topnav">
    <a id="title_4" href="/">Szállás Neked</a>
    <a href="/">Kezdőlap</a>
    <a href="/log_reg">Bejelentkezés/Regisztráció</a>
</div>
<div th:if="${Uzenet}" class="alert alert-info" role="alert" th:text="${Uzenet}"></div>

    <br><br>

    <main class="middle_items">

        <a th:href="vissza" >Vissza</a>
        <article th:each=" e, i : ${ertekelesek} " class="ertekeles">
            <!-- <h2 th:text="${e.ertekelo_email_cime}">XY User</h2> -->

            <p th:text="${e.ertekelesLeiras}">Nagyon jó volt a szállás. Minden szoba tiszta volt. Összességében meg voltam elégedve.</p>

            <span th:text="'Értékelés: ' + ${e.ertekeles}"></span>
        </article>
    </main>

</body>
</html>