<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Szállás</title>
    <meta charset="UTF-8">
    <meta name="description" content="Szállás kereső-hirdető oldal"/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style-szallas.css}"/>
    <link rel="stylesheet" type="text/css"th:href="@{/alert.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style-ertekeles.css}"/>
</head>
<style>
    .topnav {
        overflow: hidden;
        background-color: #122531;
    }

    .topnav a {
        float: left;
        margin-top: 10px;
        margin-right: 1%;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #cd2b30;
        color: white;
    }

</style>
<body>
<div th:if="${berlo}" class="topnav">
    <a id="title" href="/">Szállás Neked</a>
    <a href="/">Kezdőlap</a>
    <a href="/foglalasaim">Foglalásaim</a>
    <a href="/profil">Profil szerkesztése</a>
    <a href="/kilepes">Kilépés</a>
</div>

<div th:if="${kiadovanBent}" class="topnav">
    <a id="title_2" href="/">Szállás Neked</a>
    <a href="/">Kezdőlap</a>
    <a href="/hirdeteseim">Saját szállásaim</a>
    <a href="/profil">Profil szerkesztése</a>
    <a href="/kilepes">Kilépés</a>
</div>

<div th:if="${admin}" class="topnav">
    <a id="title_3" href="/">Szállás Neked</a>
    <a href="/">Kezdőlap</a>
    <a href="/users" >Felhasználók</a>
    <a href="/szallasok_admin" >Szállások</a>
    <a href="/ertekelesek_admin" >Értékelések</a>
    <a href="/profil">Profil szerkesztése</a>
    <a href="/kilepes">Kilépés</a>
</div>

<div th:if="${ures}" class="topnav">
    <a id="title_4" href="/">Szállás Neked</a>
    <a href="/">Kezdőlap</a>
    <a href="/log_reg">Bejelentkezés/Regisztráció</a>
</div>
    <main class="middle_items">
        <div class="szallas_content middle_items">
            <h2 th:text="${szallas.nev}" class="szallas_title">BicskeMarkó Szállás</h2>
            <div class="img_container">
                <img th:if="${szallas.kep != ''}" alt="" th:src="*{'data:../image/jpeg;base64,'+{szallas.kep}}" />
                <img th:if="${szallas.kep == ''}" alt="" src="../img/image1.jpg" />
            </div>
            <iframe th:src="${googleLink}" src="https://maps.google.com/maps?q=Szeged,+Budapesti+út+6.&output=embed" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="szallas_description">
                <div>
                    <h3 class="szallas_label">Leírás</h3>
                    <span th:text="${szallas.leiras}">
                        Ez egy Szegedi szállás nyugdíjasoknak akik szeretnének kikapcsolódni a hétvégén távol az unokáktól.
                        A város széle felé helyeszkedik el, így nincsen nagy zaj.
                        Tökéletes választás pihenésre.
                    </span>
                </div>
                <div>
                    <h3 class="szallas_label">Paraméterek</h3>
                    <ul>
                        <li th:text="|Hírdető: ${szallas.kiado.nev}|" >Hírdető: Bicskás Laci</li>
                        <li th:text="|Cím: ${szallas.helyszin}|" >Cím: Szeged, Almási út 7</li>
                        <li th:text="|Tel: ${szallas.kiado.telefonszam}|" >Tel: 063044442233</li>
                        <li th:text="|E-mail: ${szallas.kiado.email}|" >E-mail: szallas@email.com</li>
                        <li th:text="|Ár: ${szallas.arPerNapPerFo} Ft/fő/éj|" >Ár: 10000 Ft/fő/éj</li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="link_list">
            <li><a th:href="|${szallas.id}/ertekelesek|" class="lonely_link" href="ertekelesek">Értékelések</a></li>
            <li th:if="${berlo}" ><a th:href="|${szallas.id}/ertekel|" class="lonely_link" href="ertekel">Értékel</a></li>
            <li th:if="${berlo}" ><a th:href="|${szallas.id}/foglal|" class="lonely_link" href="foglal">Foglal</a></li>
            <li><a class="lonely_link" href="/">Vissza</a></li>
        </ul>
    </main>
    <footer>
    </footer>
</body>
</html>